name: python yaml

on: 
  pull_request:
      branches:
        - ci/cd
  push:
      branches:
        - ci/cd

jobs:
  check-bats-version:
    runs-on: 
      group: ubuntu-runners
    steps:
      - name: checkout repo ci/cd
      - uses: actions/checkout@v3
        with:
          ref: ci/cd
      
      - name: Set up Python 3.8
      - uses: actions/setup-python@v4
        with:
          python-version: '3.8'

      - name: Test with pytest
        run:  |
              pip install pytest
              pip install pytest-cov
              pytest api.py --doctest-modules --junitxml=junit/test-results.xml --cov=com --cov-report=xml --cov-report=html    

      - name: Lint with flake8
        run:  |
              pip install flake8
              flake8 .
              continue-on-error: true        

  

  
