name: actionsss.yml

on: 
  pull_request:
      branches:
        - ci/cd
  push:
      branches:
        - ci/cd

jobs:
  check-bats-version:
    runs-on:  ubuntu-latest
    steps:
      - name: checkout repo ci/cd
        uses: actions/checkout@v3
        with:
          ref: ci/cd
      
      - name: Set up Python 3.8
        uses: actions/setup-python@v4
        with:
          python-version: '3.8'

      - name: Install dependencies
        run: |
             python -m pip install --upgrade pip
             pip install -r requirements.txt    

      - name: Test with pytest
        run:  |
              pip install pytest
              pip install pytest-cov
              pwd
              ls
              pytest --cov=api 
        continue-on-error: true        

      - name: Lint with flake8
        run:  |
              pip install flake8
              flake8 .
        continue-on-error: true   

      - name: SonarCloud Scan
        uses: SonarSource/sonarcloud-github-action@master
        env:
            GITHUB_TOKEN: ${{ secrets.PERSONAL_TOKEN }}  # Needed to get PR information, if any
            SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}       

        

  
